.detail {
    text-align: center;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
}
.cartDetail {
    width: 40rem;
    height: auto;
    text-align: center;
    border: 0rem;
}
.imageDetail {
    height: 20rem;
    width: 20rem;
    margin-top: 1rem;
}