.item {
    display: inline-block;
    flex-direction: column;
    position: relative;
    height: auto;
    max-width: 18rem;
    margin: 1rem;
    padding: auto;
    border-color: blue;
    border-radius: 2%;
}
.cardItem {
    height: 30rem;
    width: 15rem;
    align-items: center;
    background-color: transparent;
}
.imageItem {
    height: 12rem;
    width: 12rem;
    margin-top: 1rem;
}
.footerItem {
    background-color: transparent;
}